<%= link_to "Back to Homepage", root_path, class: "btn btn-secondary" %>

<div class="container">
  <div class="post-card">
    <div class="post-header">
      <h3><%= link_to @post.author.email, user_path(@post.author) %></h3>
      <small><%= time_ago_in_words(@post.created_at) %> ago</small>
    </div>
    
    <div class="post-content">
      <%= @post.content %>
    </div>

    <div class="post-stats">
      <span class="likes">
        <i class="fas fa-heart"></i> <%= @post.likes %> likes
      </span>
    </div>
  </div>

  <div class="comments-section">
    <h4>Comments</h4>

    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <div class="comment-card">
          <div class="comment-header">
            <strong><%= link_to comment.author.email, user_path(comment.author) %></strong>
            <small><%= time_ago_in_words(comment.created_at) %> ago</small>
          </div>
          <div class="comment-content">
            <%= comment.content %>
          </div>
          <br>
        </div>
      <% end %>
    <% else %>
      <p>No comments yet.</p>
    <% end %>
  </div>

  <%= link_to "Add Comment", new_post_comment_path(@post), class: "btn btn-primary mb-3" %>
    <br><br>    
</div>

